.game-board {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8,40px);
    gap: 2px;
    margin: 20px auto;
    margin-left: 350px;
}

.app-title{
    margin-left: 300px;
    color: yellow;

}

.square {
    width: 40px;
    height: 40px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: grey;
    transition: background-color 0.2s ease;

} 

.square.opened {
    background-color: yellow;
    border: 1px solid green;
    cursor: pointer;

}

.square.flagged {
    background-color: green;
    color: white;
}

.square.question {
    background-color: red;
}

.square.default.hover {
    background-color: purple;
    
}
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-weight: bold;
}

.restart-button {
  padding: 5px 10px;
  border: none;
  background-color: #228be6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #1864ab;
}
