.square {
  width: 40px;
  height: 40px;
  background-color: #2e4a4a; /* Default: Unrevealed */
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;
  color: white;
}


.square.revealed {
  background-color: #d9ead3;
  color: #2e4a4a;
}


.square.exploded {
  background-color: #8b0000;
  color: white;
}


.square.flagged {
  background-color: #f5e663;
  color: #2e4a4a;
}


.square.question {
  background-color: #a0d6b4;
  color: #2e4a4a;
}
